<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>26245429340-4ffsc8cmorlf50de393gqb7jf3o0b17o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.26245429340-4ffsc8cmorlf50de393gqb7jf3o0b17o</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>26245429340-eoggvnb276ei8qf82sjjq899ut5ianom.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCSFwaZuV1nWWGtGh8MqFU4msIkoS21Zbo</string>
	<key>GCM_SENDER_ID</key>
	<string>26245429340</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>it.peschef.peschefdelivery</string>
	<key>PROJECT_ID</key>
	<string>peschef-7d374</string>
	<key>STORAGE_BUCKET</key>
	<string>peschef-7d374.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:26245429340:ios:aaf2dee33ba4eb3ba70e99</string>
	<key>DATABASE_URL</key>
	<string>https://peschef-7d374-default-rtdb.firebaseio.com</string>
</dict>
</plist>